.movie-container {
  width: 340px;
  height: min-content;
}
.movie-poster {
  height: 500px;
  width: 340px;
  object-fit: cover;
}
.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-Rating {
  font-size: 18px;
}
.movie-name {
  font-size: 24px;
  margin: 0;
  max-width: 75%;
}
.movie-summary {
  margin-top: 8px;
}
body {
  margin: 20px;
  font-family: "poppins", sans-serif;
}
.movie-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counter-container {
  display: flex;
  gap: 10px;
}
.likes-dislikes {
  font-size: 20px;
}
.movie-show-button {
  margin-bottom: 10px;
  font-size: 18px;
}
.add-color-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 250px;
}

.add-movie-form {
  margin: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

nav {
  font-size: 24px;
  display: flex;
  gap: 24px;
  margin: 20px;
}
.not-found-image {
  width: 100%;
  object-fit: cover;
}
.not-found-container {
  text-align: center;
  color: teal;
}

.movie-detail-container {
  padding: 24px;
  max-width: 50rem;
}

.game-box {
  background-color: white;
  color: black;
  height: 8rem;
  width: 8rem;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.board {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3,1fr);
  width: min-content;
}
.full-game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}